.has-js {
    [data-scrolly='fromLeft'] {
        opacity: 0;
        transition: all 1s ease-out;
        transform: translateX(-100%);

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transition: all 1s ease-out;
        transform: translateX(100%);

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromTop'] {
        opacity: 0;
        transition: all 1s ease-in;
        transform: translateY(-100%);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }
    [data-scrolly='fromBottom'] {
        opacity: 0;
        transition: all 1s ease-in;
        transform: translateY(100%);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromBottomQuick'] {
        opacity: 0;
        transition: all 250ms ease-in;
        transform: translateY(100%);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromBottomLessQuick'] {
        opacity: 0;
        transition: all 500ms ease-in;
        transform: translateY(100%);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromBottomSlow'] {
        opacity: 0;
        transition: all 750ms ease-in;
        transform: translateY(100%);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromOpacity'] {
        opacity: 0;
        transition: all 0.5s ease-in;

        &.is-active {
            opacity: 1;
        }
    }
}
