/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font-size-content);

    &:hover {
        color: var(--color-primary-dark);
        text-decoration: underline;
    }
}
