/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fafafa;
    --color-black: #252422;

    // Couleurs du projet
    --color-primary: #f5dae3;
    --color-primary-dark: #cc4c84;

    --color-bg-primary: #5c344c;
    --color-bg-secondary: #385194;
}
