/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fafafa;
    --color-black: #252422;

    // Couleurs du projet
    --color-primary: #F5DAE3;
    --color-primary-dark:#CC4C84;
    
    --color-bg-primary: #5C344C;
    --color-bg-secondary:#385194;
}
