/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Merriweather', serif;
    --font-secondary: 'Fira Sans', sans-serif;

    /// Grosseur des textes
    --font-size-h1: 2.5rem;
    --font-size-h2: 1.875rem;

    --font-size-h5: 1.25rem;

    --font-size-content: 1.125rem;
    --font-size-small: 1rem;
    --font-size-very-small: 0.875rem;

    --font-size-h1-mobile: 1.875rem;
    --font-size-h2-mobile: 1.5rem;
    --font-size-content-mobile: 1rem;
}
